<!
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalhes do Ninja</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Adicionar Ninja</h1>
<div class="form-container">
    <div th:if="${mensagem}" class="mensagem" th:text="${mensagem}"></div>
    <form th:action="@{/ninjas/ui/salvar}" th:object="${ninja}" method="post">
        <label for="nome">Nome: </label>
        <input type="text" id="nome" th:field="*{nome}" required/>

        <label for="email">E-mail: </label>
        <input type="text" id="email" th:field="*{email}" required/>

        <label for="imagemUrl">URL da imagem: </label>
        <input type="text" id="imagemUrl" th:field="*{imagemUrl}" required/>

        <label for="idade">Idade: </label>
        <input type="text" id="idade" th:field="*{idade}" required/>

        <label for="rank">Rank: </label>
        <input type="text" id="rank" th:field="*{rank}" required/>

        <button type="submit">Cadastrar Ninja</button>
    </form>
    <a th:href="@{/ninjas/ui/listar}">Voltar para a lista de ninjas</a>
</div>
</body>
</html>