<!
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalhes do Ninja</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=1.1}">

</head>
<body>
<h1>Detalhes do Ninja</h1>
<div class="detalhes-container">
    <img th:src="${ninja.imagemUrl}" alt="${ninja.nome}" width="200" height="200">
    <h2 th:text="${ninja.nome}"></h2>
    <p><strong>E-mail:</strong><span th:text="${ninja.email}"></span></p>
    <p><strong>Idade:</strong><span th:text="${ninja.idade}"></span></p>
    <p><strong>Rank:</strong><span th:text="${ninja.rank}"></span></p>

    <h2>Missão:</h2>
    <p><strong>Nome da Missão: </strong><span th:text="${ninja.missoes.nome}"></span></p>
    <p><strong>Dificuldade:</strong><span th:text="${ninja.missoes.dificuldade}"></span></p>

    <a th:href="@{/ninjas/ui/listar}" class="btn-voltar">Voltar para a Lista</a>
</div>
</body>
</html>